.selector {
  display: flex;
  align-items: center;

  padding-left: 32px;
  padding-right: 32px;
}

.dateToday{
  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 131px;
  height: 34px;
  
  color: var(--btn-text-color);
  background: var(--accent-bgc-color);
  border-radius: 8px;
  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  
}

.week {
  height: 68px;
  margin-left: 32px;
  margin-right: 32px;
  margin-top: 32px;
  margin-bottom: 16px;

  background: var(--primary-bgc-color);
  border: 1px solid var(--auth-placeholder-color);
  border-radius: 8px;
}

.calendar {
  padding-left: 32px;
  padding-right: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}