.selector {
  display: block;
  align-items: center;

  padding-left: 20px;
  padding-right: 20px;

  @media screen and (min-width: 768px) {
    display: flex;
    padding-left: 32px;
    padding-right: 32px;
  }
}

.dateToday{
  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 130px;
  height: 30px;
  
  color: var(--btn-text-color);
  background: var(--accent-bgc-color);
  border-radius: 8px;
  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;

  @media screen and (min-width: 768px) {
    height: 34px;
    font-size: 16px;
  }
  
}

.periodPaginator{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 18px;
}

.viue {
  display: flex;
  justify-content: flex-start;
}

.viueLink {
  align-items: center;
  flex-basis: 76px;
  height: 34px;
  background-color: #E3F3FF;
  color: #3E85F3;
}