
.addTaskButton {
    width: 304px;
    height: 52px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 14px;
    margin-bottom: 28px;
    background: #E3F3FF;
    border: 1px dashed #3E85F3;
    border-radius: 8px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
}

.addTaskButton:hover {
    color: #FFFFFF;
    background: #3E85F3;
    transition: 200ms;
}
