.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; 
    padding-top: 24px;
    padding-bottom: 64px;
    font-size: 32px; 
    width: 1200px;
    padding-left: 32px;
    padding-right: 32px;
    color: var(--primary-text-color);
}
.headerPage{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
};

.textinline{
    color: #3E85F3;  
}
