.calendar {
  /* display: flex; */
  display: block;
  align-items: center;
  justify-content: space-between;
  margin-left: 32px;
  margin-right: 32px;

  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.month {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 131px;
  height: 34px;
  padding-left: 12px;
  padding-right: 12px;

  background: #3e85f3;
  border-radius: 8px;

  text-transform: uppercase;

  color: #ffffff;
}
.selector {
  display: flex;
  align-items: center;
  @media screen and (max-width: 768px) {
    display: flex;
    margin-bottom: 18px;
    justify-content: space-between;
  }
}
.monhtchang {
  display: flex;
}
.btn_left {
  width: 38px;
  height: 34px;
  background: var(--primary-bgc-color);
  border: 1px solid rgba(220, 227, 229, 0.8);
  border-radius: 8px 0 0 8px;

}
.btn_ringt {
  width: 38px;
  height: 34px;
  background: var(--primary-bgc-color);
  border: 1px solid rgba(220, 227, 229, 0.8);
  border-radius: 0 8px 8px 0;
}
.viue {
  display: flex;
  list-style: none;
  margin: 0;
}
.btn_changL {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;

  width: 82px;
  height: 34px;
  margin: 0;
  background: #e3f3ff;
  border-color: transparent;
  border-radius: 8px 0px 0px 8px;
  background: var(--btn-toggle-accent-background);
  color: var(--accent-text-color);
}
.btn_changR {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 82px;
  height: 34px;
  margin: 0;
  border-color: transparent;
  border-radius: 0px 8px 8px 0px;
  background: var(--btn-toggle-background);
  color: var(--accent-btn-background);
}
.selected_limit {
  background: #cae8ff;
}
.isActive {
  background-color: #cae8ff;
}
