@import "~normalize.css/normalize.css";

html{
  box-sizing: border-box;
}
*, *:after, *:before {
  box-sizing: inherit ;
}

:root {
  /* Fonts */
  --primary-font: 'Inter', sans-serif;
  --secondary-font: 'Coolvetica', sans-serif;
  
  /* Text-color */
  --primary-text-color: #111111;
  --secondary-text-color: #616161;
  --accent-text-color: #3e85f3;
  --accent-btn-background: #3e85f3;
  --btn-text-color: #FFFFFF;
  --not-active-item-sidebar-text-color: #84828a;
  --auth-placeholder-color: #dce3e5;
  --hover-btn-background: #2B78EF;
  --disabled-btn-background: #DCEBF7;
  --error-validation-color: #DA1414;
  --correct-validation-color: #3CBC81;
  --form-text-color: #111111;
  --btn-toggle-accent-background:#CAE8FF;
  --btn-toggle-background:#e3f3ff;
  --btn-arrow-accent-color:#616161;
  --text-day-color:#343434;
  --text-user-color: #343434;
  --text-name-color: #111111;
;


  /* Background colors */

  --primary-bgc-color: #FFFFFF;
  --secondary-bgc-color: #F7F6F9;
  --sidebar-bgc-color: #FFFFFF;
  --accent-bgc-color: #3e85f3;
  --active-item-sidebar-background: #e3f3ff;
  --unlogined-background: #dcebf7;
  --form-bgc-color: #FFFFFF;
  
  /* Shadow colors */

  --btn-shadow-color: rgba(136, 165, 191, 0.48);

    /* Borders */

  --border-add-btn: 1px dashed var(--accent-bgc-color);
  --border-imput-color: 1px solid rgba(17, 17, 17, 0.15);
}

.dark-theme {
  
  /* text-color */
  --primary-text-color: #FFFFFF;
  --accent-text-color: #FFFFFF;
  --not-active-item-sidebar-text-color: #FFFFFF;
  --active-item-sidebar-background: #3e85f3;
  --auth-placeholder-color: #fafafa4d;
  --text-day-color:#FFFFFF;
  --text-user-color: rgba(250, 250, 250, 0.3);
  --text-name-color: rgba(250, 250, 250, 0.3);
  
  /* background-colors */
  --secondary-bgc-color: #171820;
  --primary-bgc-color: #21222c;
  --sidebar-bgc-color: #13151a;

  --border-imput-color: 1px solid rgba(255, 255, 255, 0.15);
  --border-add-btn: none;
  --btn-toggle-accent-background:#3E85F3;
  --btn-toggle-background:#21222C;
  --btn-arrow-accent-color: #FFFFFF;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

form {
  font-size: 20px;
}


li>div {
  /* width: 300px */
}

li {
  display: flex;
  justify-content: center;
  padding: 0;
}

.tab-pane {
  border: solid;
  padding: 10px 10px;
}

/* .Toastify {
  margin-top: 40px;

} */

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}


input {  
  display: block;
  margin-bottom: 24px;
  margin-top: 8px;
  border: 1px solid #dce3e5;
  border-radius: 8px;
  height: 46px;
  width: 100%;
  padding-left: 14px;

  @media screen and (min-width: 768px) {
    margin-bottom: 18px;
  }

  
}
/* input:invalid{
  color: #E74A3B;
  border-color: #E74A3B;
}
input:isValid{
  color: #3CBC81;
  border-color: #3CBC81;
} */
