.navigation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   
}

.navButton {
    padding: 4px 6px;
   
    border: none;
   
    width: auto;

}

.navButtonActive {
    padding: 4px 6px;
    background: lightblue;
    border: none;


}